extends ./layout.jade

block slides

  +slide()(class="slide")
    h1 IST 263
    h2 Intro to Web Design
    h3 Professor Joe Flateau
    p
      | jeflatea@syr.edu
      br
      | @joeflateau
    p
      | 335 Hinds Hall
    .notes
      | Don't talk too much about yourself

  +slide(1500, 0, 0)
    h2.huge 
      q What will I learn in this course?

  +slide(1500, 0, -1000)(class="slide")
    h2 Course Outline
    ul
      li Intro to Web Technologies: Weeks 1-3
      li Planning & Design: Weeks 3-5
      li Implementation: Weeks 5-11
      li Management: Weeks 11-14

  +slide(1500, 0, -2000)(class="slide")
    h2 Intro to Web Technologies
    ul
      li How do computers communicate on the Internet?
      li What "languages" do computers speak?

  +slide(1500, 0, -3000)(class="slide")
    h2 Planning & Design
    ul
      li Wireframes
      li Mockups
      li Prototypes

  +slide(1500, 0, -4000)(class="slide")
    h2 Implementation
    ul
      li HTML5
      li CSS
      li JavaScript

  +slide(1500, 0, -5000)(class="slide")
    h2 Management
    ul
      li What is a Content Management System and how can we leverage it for fun and profit?

  +slide(3000, 0, 0)
    h2.huge 
      q Who is Joe Flateau?

  +slide(3000, 0, -1000)(class="slide")
    h2 Senior Web Developer
    h2 SIDEARM Sports
    p Build and maintain the Offical Athletics Website for 750+ colleges and universities around the US and Canada

  +slide(4500, 0, 0)
    h2.huge 
      q How will I be evaluated?

  +slide(4500, 0, -1000)(class="slide")
    h2 Grading
    ul
      li Midterm Exam 30%
      li Midterm Project 20%
      li Weekly Assignments 15%
      li Final Project 35%

  +slide(4500, 0, -2000)(class="slide")
    h2 Midterm Exam
    p Combination of Multiple Choice, Matching and Short Answer questions

  +slide(4500, 0, -3000)(class="slide")
    h2 Midterm Project
    p Web design project.
    p I give you a mockup. You write the code.

  +slide(4500, 0, -4000)(class="slide")
    h2 Weekly Assignments
    p Most weeks have an assignment that requires practicing this weeks topic or researching the topic for next week.

  +slide(4500, 0, -5000)(class="slide")
    h2 Final Project
    p You choose the client.
    p You design the site.
    p You code the site.